

body {
    background-color: rgb(41, 40, 41);
}

.top {
    text-align: center;
}

.resultDiv {
    text-align: center;
}

@font-face {
    font-family: 'OpenSans';
    src: url('FontDefault.ttf')
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('FontBold.ttf')
}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('FontSemiBold.ttf')
}

#searchInput {
    background-color: rgb(41, 40, 41);
    border-radius: 10px;
    border-color: aliceblue;
    margin: 10px;
    width: 500px;
    border-width: 1px;
    font-size: 20px;
    height: 20px;
    color: rgb(248, 248, 248);
    font-family: 'OpenSansSemiBold';
    border-style: double;
}

#searchButton {
    background-color: rgb(22, 22, 22);
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgb(22, 22, 22);
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-family: 'OpenSansSemiBold';
    border-style: double;
}

#resultLabel {
    color: aliceblue;
    font-family: 'OpenSansBold';
    font-size: 15px;
}

#searchButton:hover {
    background-color: rgb(58, 57, 58);
    border-radius: 8px;
}

#searchInput:hover {
    background-color: rgb(58, 57, 58);
    border-radius: 8px;
}

#clearButton:hover {
    background-color: rgb(58, 57, 58);
    border-radius: 8px;
}

#itemLabel {
    color: aliceblue;
    font-family: 'OpenSansSemiBold';
    font-size: 20px;
}

#zoomImage {
    border-radius: 3px;
}

#clearButton {
    background-color: rgb(61, 43, 43);
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgb(61, 43, 43);
    font-size: 14px;
    color: rgb(255, 30, 30);
    font-family: 'OpenSansSemiBold';
    border-style: double;
}

#themeButton {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border-style: double;
    background-position: center;
    box-shadow: 0 0 2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAjOnrqeYwRDet2ZybLXrFnpht5okMMZQT_VYdDiaz&s');
}

.results {
    border-color: rgb(0, 0, 0);
    box-shadow: "0 0 3px";
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: double;
}

.results:hover {
    box-shadow: 0 0 10px
}